body {
  margin: 0;
  background-image: url("assets/img/sfondo.png");
  background-repeat: repeat;
  background-position: right;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
p,
ul li,
ol li,
a {
  font-size: 20px;
}

header {
  text-align: center;
  background: #046c88;
  background: linear-gradient(180deg, rgba(4, 108, 136, 1) 0%, rgba(0, 157, 194, 1) 100%);
  color: white;
  font-weight: 600;
  font-size: 22px;
  padding: 3rem 1rem;
  margin: 1rem;
}

header img {
  width: 75%;
  margin-bottom: 16px;
}

header li {
  text-transform: uppercase;
  list-style: none;
}
header li a {
  text-decoration: none;
  color: white;
}

a {
  font-weight: 600;
}

.spacing {
  padding: 2rem 1rem;
  margin: 1rem;
}

main {
  background-color: white;
  color: #010001;
}
main h1 {
  padding-top: 16px;
  font-size: 2.35rem;
  letter-spacing: -2px;
}
.subtitle {
  text-transform: uppercase;
}

.author {
  color: #9fa09e;
}

.box-shadow {
  box-shadow: 3px 3px 5px gray;
}

.code {
  background: #ddddde;
  border: gray 1.5px solid;
  border-radius: 4px;
  padding-inline: 4px;
}

.emphasis-text {
  color: #aa2072;
  font-weight: 500;
}

table {
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
  margin-bottom: 32px;
  margin-inline: auto;
}
table th {
  background-color: #3666c8;
  color: white;
  width: 130px;
}

tbody tr {
  border-bottom: 1px solid #ddd;
  line-height: 3rem;
}
tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:last-child {
  border-bottom: solid 2px #3666c8;
}

footer {
  padding-bottom: 24px;
  color: white;
  text-align: center;
  background: #005565;
  background: linear-gradient(180deg, rgba(0, 85, 101, 1) 0%, rgba(48, 59, 55, 1) 80%);
}
footer p {
  font-size: 18px;
}

footer a {
  color: #ee06fb;
}
form {
  width: 100%;
  max-width: 380px;
  padding-bottom: 16px;
  display: flex;
  width: 100%;
  gap: 8px;
}

input {
  line-height: 2rem;
  border: none;
  border-bottom: 1px dashed;
  width: 80%;
}

button {
  height: 2.15rem;
  background-color: #3666c8;
  border: none;
  color: white;
  padding-inline: 8px;
  font-weight: 600;
  font-size: 20px;
}

iframe {
  border-radius: 25px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 100%;
  height: 300px;
}

.table-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}

.newsletter {
  background-color: #e1e0e1;
  padding: 16px;
}

.newsletter h2 {
  text-align: center;
  text-transform: uppercase;
}

.related-article {
  padding: 16px 16px 8px 16px;
  background-color: #e1e0e1;
  border: solid 2px #d1d4d4;
  margin-bottom: 1rem;
}

.related-article-title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 24px;
}

.related-article a {
  color: #109dc3;
}

.data {
  text-align: right;
  font-size: 18px;
}
