body {
  margin: 0;
  background-image: url("assets/img/sfondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

header {
  padding: 32px 16px;
  text-align: center;
  background: #046c88;
  background: linear-gradient(90deg, rgba(4, 108, 136, 1) 0%, rgba(0, 157, 194, 1) 100%);
  margin: 16px;
  color: white;
  font-weight: 600;
}
header img {
  width: 200px;
  margin-bottom: 16px;
}

header li {
  text-transform: uppercase;
  list-style: none;
}
header li a {
  text-decoration: none;
  color: white;
}

main {
  background-color: white;
  margin: 16px;
  padding: 16px;
  color: #010001;
}
.subtitle {
  text-transform: uppercase;
}

.author {
  color: #c3c3c3;
}
.box-shadow {
  box-shadow: 3px 3px 5px gray;
}
